<div class="col-md-10 offset-1 card mt-4">
    {{#if error}}
    <div class="alert alert-danger m-2">{{error}}</div>

    {{/if}}

    {{#each errors}}
    <div class="alert alert-danger m-2">{{text}}</div>
    {{else}}
    {{/each}}
</div>