{{#if success_msg}}
<div class="ui success message mt-4">
    <i class="close icon"></i>
    <div class="mes">
        {{success_msg}}
    </div>

</div>
{{/if}}

{{#if error_msg}}
<div class="ui error message">
    <i class="close icon"></i>
    <div class="msg">
        {{error_msg}}
    </div>

</div>
{{/if}}