<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="shortcut icon" href="../../images/favicon-32x32.png" type="image/x-icon">
    <link rel="stylesheet" href="../../Semantic-UI-CSS-master/Semantic-UI-CSS-master/semantic.min.css">
    <link rel="stylesheet" href="../../bootstrap-4.4.1-dist/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../../style.css">
</head>

<body>
    {{> _navbar}}
    <div class="container">
        {{> _msg}}
        {{> _error}}
        {{{body}}}
    </div>


    <script src="../../jquery/jquery-3.4.1.min.js"></script>
    <script src="../../Semantic-UI-CSS-master/Semantic-UI-CSS-master/semantic.min.js"></script>
    <script src="../../bootstrap-4.4.1-dist/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
    <script src="../../app.js"></script>
</body>

</html>